<!-- <p>navigation works!</p> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <span>WELCOME</span>
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a  *ngIf="isLoggedIn()" routerLink="/home" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!isLoggedIn()" routerLink="signin" class="nav-link" >sign In</a>
    </li>
    <li class="nav-item">
      <a  *ngIf="!isLoggedIn()" routerLink="signup" class="nav-link" >sign Up</a>
    </li>
    <li class="nav-item">
      <a  *ngIf="isLoggedIn()"class="nav-link" class="nav-link" >sign out</a>
    </li>
    <li class="nav-item dropdown">
      <a  class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
        PRODUCT
      </a>
      <div class="dropdown-menu">
        <a  *ngIf="isLoggedIn()" class="dropdown-item" href="#">Product List</a>
        <a  *ngIf="isLoggedIn()" class="dropdown-item" href="#">Add Product</a>
        <!-- <a  *ngIf="isLoggedIn()" class="dropdown-item" href="#">Delete Product</a>
        <a  *ngIf="isLoggedIn()" class="dropdown-item" href="#">Update Product</a> -->
      </div>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>
